In [1]:
#python contains int,long,float,string,complex,boolean datatypes

In [2]:
#Here type of a and b is int
a=10
b=20

In [3]:
print a+b
print a-b
print a*b
print a/b#Here it is expected to print first digit of quotient as both a,b are int./ is used to print coefficient
print a**2
print a%3#here % is used to print reminder

30
-10
200
0
100
1

In [4]:
print 10/20#here it is expected to print first digit of quotient as both a,b are int./ is used to print coefficient

0

In [5]:
print 10/20.0#here denominator is float hence it is expected to print full coefficient
#Either numerator or denominator should be float to print floating values of coefficient

0.5

In [6]:
a=20
b=20.0

In [7]:
print type(a)

<type 'int'>

In [8]:
type(b)

float

In [9]:
a=2**200#when value of a is exceeded the length of integer then python automatically converts to float type

In [10]:
type(a)#when value of a is exceeded the length of integer then python automatically converts to float type

long

In [11]:
print 20+23.45#int+float=float hence the resulting output 43.45 is float

43.45

In [12]:
s="python"

In [13]:
type(s)

str

In [14]:
s1="str1"
s2="str2"
print s1+s2#python support string concatenation using + sign.
#type(string)+type(string) is supported
#type(int)+type(string) is not supported

str1str2

In [1]:
print s1*s2#python supports multipation of string with int type only and not string type

NameError: name 's1' is not defined

In [3]:
s1='mani'
s3=3
print s1*3#here same string(mani) will be concatenated three times

manimanimani

In [16]:
print s1-s2#python won't support negative operator b/w strings

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [17]:
s1/s2#python won't support / operator b/w strings

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [18]:
a=raw_input("enter a value:")#Always raw_input take the value of int type only

enter a value:12

In [19]:
a

'12'

In [20]:
type(a)

str

In [21]:
a=20
s=a#here s and a variable points to same memory location and value is same
s1="a"#there are chances that s1 variable can be pointed to same memory location as s and a variables
print s
print s1

20
a

In [22]:
print a

20

In [23]:
print "a"

a

In [24]:
name="apple"

In [25]:
productname="apple"

In [26]:
product_name = "apple"#python only accepts _ value b/w two variable and not other special character

In [27]:
product$name = "apple"#python only accepts _ value b/w two variable and not other special character

SyntaxError: invalid syntax (<ipython-input-27-4f6ee25c8d88>, line 1)

In [28]:
name1="apple"

In [29]:
na1me="apple"

In [30]:
1name="apple"#python doesn't support variable name starting with numeric letter

SyntaxError: invalid syntax (<ipython-input-30-f767c17c5561>, line 1)

In [31]:
a="product_cost: "
cost=23.45
print a+cost#type(float)+type(string) concatination is not supported

TypeError: cannot concatenate 'str' and 'float' objects

In [32]:
print a+str(cost)#python supports explicit conversion using str(value) or int(value)

product_cost: 23.45

In [33]:
a=raw_input("enter a value:")
b=raw_input("enter a value:")
print a+b#here both a and b values are type(string)
#hence it is expected to concatinate rather than performing addition
#type(string)+type(string)=concatinate

enter a value:12
enter a value:34
1234

In [34]:
a=raw_input("enter a value:")
b=raw_input("enter a value:")
print int(a+b)#here we are converting total string value to int value

enter a value:12
enter a value:34
1234

In [35]:
a=raw_input("enter a value:")
b=raw_input("enter a value:")
print int(a)+int(b)#this is the correct notation to perform addition

enter a value:12
enter a value:34
46

In [5]:
int?#ipython has ability to open doc string using ? mark for any python option

In [37]:
int()#Empty integer typecasting always displays zero value

0

In [38]:
int(23.45)

23

In [39]:
int(23.45)

23

In [40]:
int("23.45")

ValueError: invalid literal for int() with base 10: '23.45'

In [41]:
int("23")

23

In [42]:
#base 10 0-9
int?

In [43]:
int("12a")

ValueError: invalid literal for int() with base 10: '12a'

In [45]:
int("42a",11)

516

In [46]:
print 10*11**0+2*11**1+4*11**2

516

In [47]:
a=123

In [48]:
a=0x12

In [49]:
a=12
b=012
print a,b

12 10

In [50]:
a=0x12
b=0o12
c=0b0101
print a,b,c

18 10 5

In [51]:
a=0xc
print a

12

In [52]:
int("123",2)

ValueError: invalid literal for int() with base 2: '123'

In [53]:
c1=1+2j
c2=2+3j
print c1+c2
print c1-c2
print c1*c2
print c1/2
print c1**2
print c1%3

(3+5j)
(-1-1j)
(-4+7j)
(0.5+1j)
(-3+4j)
(1+2j)

C:\Users\samba\Anaconda2\lib\site-packages\ipykernel\__main__.py:8: DeprecationWarning: complex divmod(), // and % are deprecated

In [54]:
print c1+2

(3+2j)

In [55]:
a=2

In [56]:
complex(a)

(2+0j)

In [57]:
c1+"str1"

TypeError: unsupported operand type(s) for +: 'complex' and 'str'

In [58]:
num = 1+2j
s1="number="
print num+s1

TypeError: unsupported operand type(s) for +: 'complex' and 'str'

In [59]:
num = 1+2j
s1="number="
print str(num)+s1

(1+2j)number=

In [60]:
s=12+23*3/45*5

In [61]:
a

2

In [62]:
# operator precedency

In [63]:
a=23/34/10

In [64]:
a

0

In [65]:
print 23*34/45*6

102

In [66]:
a=python

NameError: name 'python' is not defined

In [67]:
a=true

NameError: name 'true' is not defined

In [68]:
a=True

In [69]:
b=False

In [70]:
c=None

In [71]:
type(a)

bool

In [72]:
type(c)

NoneType

In [73]:
a=""

In [74]:
b=0

In [75]:
c=None

In [76]:
# bolean expressions

In [77]:
print a

In [78]:
print b

0

In [79]:
print c

None

In [80]:
# > >= < <= is == != not in

In [81]:
10>20

False

In [82]:
bool(20>30)

False

In [83]:
20>=20

True

In [84]:
a=10
b=20

In [85]:
print bool(a>b)

False

In [86]:
print a>b

False

In [87]:
10==10

True

In [88]:
10==10.0

True

In [91]:
a=10
b=10.0
print a==b
print a is b

True
True

In [90]:
a=10
b=a
print a is b
print a==b

True
True

In [92]:
a=10
b=10.0
c=int(b)
print a==b
print a is c

True
True

In [93]:
a=10
b=10.0
c=int(b)

In [94]:
a=10
b="2"
print a>b

False

In [95]:
print "1">2**200

True

In [96]:
print "12">"2"

False

In [97]:
print "12"<"2"

True

In [98]:
"apple","cat","banana"

('apple', 'cat', 'banana')

In [99]:
"12","2","30","4"

('12', '2', '30', '4')

In [100]:
print 1>2 and 2>3

False

In [101]:
print 1>2 or 2<4

True

In [102]:
print 1>2 and 2<4

False

In [103]:
print bool(0)

False

In [104]:
print bool(1)

True

In [105]:
print bool(-10)

True

In [106]:
print bool("python")

True

In [107]:
print bool("")

False

In [108]:
print bool(None)

False

In [109]:
print bool(True)

True

In [110]:
print bool(False)

False

In [111]:
print bool([])

False

In [112]:
print bool(())

False

In [113]:
print bool([1])

True

In [114]:
print bool((1))

True

In [115]:
print bool("")

False

In [116]:
print bool("0")

True

In [117]:
bool(0)

False

In [118]:
"pyt" in "python"

True

In [119]:
"java" in "python"

False

In [120]:
"PYT" in "python"

False

In [121]:
"py" not in "python"

False

In [122]:
"pt" in "pyhon"

False

In [123]:
"python"=="PYthon"

False

In [124]:
"python"!="Python"

True