In [1]:
name="Ashok"
age=25
height=5.6

In [2]:
# Name: Ashok, Age: 25, Height: 5.6

In [3]:
print "Name:",name+", Age: ",age+", Height:",height

Name: Ashok, Age:

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
print "Name:",name+", Age: ",str(age)+", Height:",height

 Name: Ashok, Age:  25, Height: 5.6

In [5]:
print "Name:",name+", Age: ",str(age)+", Height:"+height

Name: Ashok, Age:

TypeError: cannot concatenate 'str' and 'float' objects

In [6]:
print "Name:",name+", Age: ",str(age)+", Height: "+str(height)

 Name: Ashok, Age:  25, Height:5.6

In [7]:
# format specifiers

In [8]:
print "line1\nline2\ttabspace"

line1
line2	tabspace

In [9]:
# line1\nline2
print "line1\nline2"

line1
line2

In [10]:
# line1\nline2
print "line1\\nline2"

line1\nline2

In [11]:
# it's cool day

In [12]:
print "it's cool day"

it's cool day

In [13]:
print 'it's cool day'

SyntaxError: invalid syntax (<ipython-input-13-e69e64e9eec4>, line 1)

In [14]:
print 'it\'s cool day'

it's cool day

In [15]:
# it's "cool" day
print "it's \"cool\" day"

it's "cool" day

In [16]:
s="dssdf\ndsfds\tsfsf\nsdfsdf\nsfdsf\t"
print s

dssdf
dsfds	sfsf
sdfsdf
sfdsf

In [17]:
s=r"dssdf\ndsfds\tsfsf\nsdfsdf\nsfdsf\t"
print s

dssdf\ndsfds\tsfsf\nsdfsdf\nsfdsf\t

In [18]:
s="line1 line2"
print len(s)

11

In [19]:
s="line1\nline2"
print len(s)

11

In [20]:
s=r"line1\nline2"
print len(s)

12

In [21]:
s="\n\n\t"
print len(s)

3

In [22]:
s=r"\n\n\t"
print len(s)

6

In [23]:
# %s%d%r%x%e%f
print "%s%d%r%x%e%f"

%s%d%r%x%e%f

In [24]:
print "%s%d%r%x%e%f",('name1',23,"sdfsd",234,434,23.45)

%s%d%r%x%e%f ('name1', 23, 'sdfsd', 234, 434, 23.45)

In [26]:
print "%s,%d,%r,%x,%e,%f"%('name1',23,"sdfsd",234,434,23.45)

name1,23,'sdfsd',ea,4.340000e+02,23.450000

In [27]:
print "%f"%23.45

23.450000

In [28]:
print "%.2f"%23.456789

23.46

In [29]:
print "%x"%3456

d80

In [30]:
print "%X"%3456

D80

In [31]:
res = "%x"%3456

In [32]:
res

'd80'

In [34]:
name="Ashok"
age=25
height=5.6
# Name: Ashok, Age: 25, Height: 5.6
print "name: %s, Age: %d, Height: %.1f"%(name,age,height)

name: Ashok, Age: 25, Height: 5.6

In [35]:
res="height:",height

In [36]:
res

('height:', 5.6)

In [37]:
type(res)

tuple

In [38]:
print "height:",height

height: 5.6

In [39]:
res = "height:"+height

TypeError: cannot concatenate 'str' and 'float' objects

In [40]:
res = "height:"+str(height)

In [41]:
res ="age:",age

In [42]:
res

('age:', 25)

In [43]:
print "age:",age

age: 25

In [44]:
print "%8d"%3456

    3456

In [45]:
print "%08d"%3456

00003456

In [49]:
print "%f"%3456.45

3456.450000

In [50]:
print "%.2f"%3456.45

3456.45

In [52]:
print "%+10.2f"%3456.45

  +3456.45

In [53]:
print "%-10.2f"%3456.45

3456.45

In [54]:
print "%010.2f"%3456.45

0003456.45

In [55]:
print "%b"%234

ValueError: unsupported format character 'b' (0x62) at index 1